[submodule "IIS/fit_iis_project"]
	path = IIS/fit_iis_project
	url = https://github.com/stahlgit/fit_iis_project.git
[submodule "IMS/fit_ims"]
	path = IMS/fit_ims
	url = git@github.com:stahlgit/fit_ims.git
[submodule "IFJ/IFJcompilator"]
	path = IFJ/IFJcompilator
	url = git@github.com:HonzaSik/IFJcompilator.git
[submodule "IJA/ija_project"]
	path = IJA/ija_project
	url = git@github.com:stahlgit/ija_project.git
[submodule "ISA/ISA/snmp2otel"]
	path = ISA/ISA/snmp2otel
	url = git@github.com:stahlgit/snmp2otel.git
[submodule "ISA/snmp2otel"]
	path = ISA/snmp2otel
	url = git@github.com:stahlgit/snmp2otel.git
